<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sistema XY</title>
	<link href="css/style_pages.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="js/bootstrap.min.js" rel="stylesheet">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<h3 class="navbar-text">Sistema XY</h3>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="list-group">
					<a class="list-group-item" href="#">
						<i class="glyphicon glyphicon-home btn-lg"></i>Página Inicial</a> 
				</div>
		</div>
						<div class="col-md-9 well admin-content" id="home">
				    <h2>Bem vindo!!!</h2>
				</div>
	</div>
</body>
</html>